/* .dark-mode */
html {
  scroll-behavior: smooth
}
@media(prefers-reduced-motion:reduce) {
  html {
      scroll-behavior: auto
  }
}
/* Or apply it via media query */
@media (prefers-color-scheme: dark-mode) {
  .video-grid{
    background: #1b1b1b;
  }
}
/* SVG icon */
/* Font icon (using Font Awesome as an example) */

body {
  --text-color: #222;
  --bkg-color: #fff;
}
/* Dark theme colors */

/* Styles for users who prefer dark mode at the OS level */  

html {
--text-color-normal: #0a244d;
--text-color-light: #8cabd9;
}