.container{
    position: absolute;
    display: fixed;
    /* grid-column: 1fr 1fr 1fr; */
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 130px;
    /* border: 3px solid yellow; */
    height: 50%;
    width: 25%;
   /* text-align: center; */
   z-index: 100;
   padding-left: 8px;
   flex-direction: column;
   justify-content: space-between;
}
@media only screen and (max-width: 1255px) 
{
  
    .container{
       width: 15%;
    }
.timeline  li p {
       display: none;
    }
}
@media only screen and (max-width: 1160px) 
{
  
    .container{
        width: 10%;
    }
}
@media only screen and (max-width: 1050px) 
{
  
    .container{
        display: none;
    }
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}