:root{ --delay: 0s;}
.anim {
    -webkit-animation: bottom 0.8s var(--delay) both;
    animation: bottom 0.8s var(--delay) both;
}


@-webkit-keyframes bottom {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

@keyframes bottom {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

  html{
    scroll-behavior: smooth;
  }
  @media(prefers-reduced-motion:reduce) {
    html {
        scroll-behavior: auto
    }
}
@font-face {
  font-family:"San Francisco" ;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

a:link { text-decoration: none; }


a:visited { text-decoration: none;
 
color: gray;
    text-decoration-color: hotpink;
}


a:hover { text-decoration: none; }


a:active { text-decoration: none; 
  color: red;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-family: -apple-system-body, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-weight: 500; */
}

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
/* .w3-sidebar {width: 110px;background: #222;} */
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 130px;
z-index: 1000;

}
#main.darkmode--activated{
  z-index: 1000;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 500px) {#main {margin-left: 0}}

hr{
  width: 25%;
}
.p-content {
  font-size: 18px;
  color: #eceef0;
  word-break: inherit;
  width: 750px;
  box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 30px;
}
.list{
    box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 30px;
}
.list:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: #215387 solid;
    padding: 4px;
}
.p-content a {
  font-size: 18px;
  color: #215387;
  font-weight: 700;
}
.hover_img {
  position: relative;
}
.hover_img span {
  position: absolute;
  display: none;
  z-index: 199;
}
.hover_img:hover span {
  display: block;
}
/* add margin top to .download-btn */
.download-btn {
  margin-top: 20px;
  position: absolute; 
  left:450px; 
  margin-bottom: 40px
  
}
.download-custom{
  left:300px;
  position: absolute; 
  bottom: -70px;
  padding-top: 30px;
}

.download-2{
  margin-top: 20px;

  justify-self: center;
  flex-direction: column;
}
/* make transition that looks like a page flipping */

.li-list {
  font-size: 1.3em;
  color: rgb(254, 45, 45);
  
}
hr{
  margin-top: 5px;
}
.p-sidebar {
  padding-top: 15px;
  font-weight: 600;
  font-size: 12px;

}
.w3-padding-large {
    padding: 10px 16px!important;
}
#winter {
  color: #00ca5a;
}
.w3-sidebar {
  margin-top: 65px;
}

#online-games {
  border: #00ca5a solid;
  padding: 12px;
  border-radius: 5px;
  font-size: large;
  
}
#rules-title, .underline{
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 15px;
    /* border-bottom: 1px solid rgb(238, 233, 233);
    padding-bottom: 3px; */
}
.embed{
  position: relative;
}
#downloads{
  background-color: #0078e7;
  color: #ffffff;
  border-color: #a0b5ad; height: 50px; width: 185px; cursor: pointer;
}
.video, .embed, .goodbye, .download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.video{
  position: relative; margin-top: 30px; margin-bottom: 20px;
}
.download-video{
  position: absolute; 
  top:380px; 
  left: 330px; 
  width:-moz-fit-content;
  width: fit-content; 
  height:-moz-fit-content;
  height: fit-content;
  /* add space between this div and the below div */
  margin-bottom: 150px;
}
.download-video button, .download-btn button, .download-custom button{

  font-size:1.5rem;
  border:2px solid white;
  border-radius:100px;
  width:-moz-fit-content;
  width:fit-content;
  height:-moz-fit-content;
  height:fit-content;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.download-video button:hover, .download-btn button:hover , .download-custom button:hover{
  width:125px;
  background-color: white;
   box-shadow: 0px 5px 5px #0078e7;
  color: #91CCC2;
  transition:.3s;
  transform : scale(1.3);

}
.download-video button:active {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}



#main{
  /* add 30px margin to the right */
  margin-right: 40px;
  margin-left: 125px ;
  background-color: #1b1a27;
    display: grid;
    grid-row: 1fr;
    width:-moz-fit-content;
    width: fit-content;
    z-index: 2;
    font-size: 16px;
  
}
/* Remove margins from "page content" on small screens */



.right-side{
    
    position: absolute;
    display: flex;
    /* grid-column: 1fr 1fr 1fr; */
    top: 0;
    right: 0;
    margin-right: 10px;
    /* margin-left: 170px; */
    margin-top: 130px;
    /* border: 3px solid yellow; */
    height: auto;
    width: 25%;
   /* text-align: center; */
   /* z-index: 100; */
   /* padding-left: 28px; */
   flex-direction: column;
   justify-content: space-between;
   background-color: #1b1a27;
}

.two, .three{
    display: flex;
    background-color: #f84f39;
    justify-items: flex-start;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    border: 5px solid #bec4ca;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 1, 0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
  .three{
    margin-top: 10px;
    padding: 5px;
    
   
  }
  .three:hover, .two:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
  }

.fa-car {
  color: #f1c40f;
  position: relative;
  font-size: 80px;
  top: 10px;
  left: 10px;
  /* align the icon to the middle of the header */
  vertical-align: middle;
  
}
.fa-bus {
  color: #f1c40f;
  position: relative;
  top: 10px;
  left: 10px;
  /* align the icon to the middle of the header */
  vertical-align: middle;
  
}
#refer-to{
  /* style a link */
  color: #38bdf8;
}
.download-bottom-video, .download-warmup-song{
  position:absolute;
  left:450px;
  bottom: -10;
  color: #91CCC2;
  transition:.3s;
  width: fit-content;
  width:-moz-fit-content;;
  height: fit-content;
  height:-moz-fit-content;
}
.download-bottom-video button, .download-warmup-song button{
  font-size:1.5rem;
  border:2px solid white;
  border-radius:100px;
  width:-moz-fit-content;
  width:fit-content;
  height:-moz-fit-content;
  height:fit-content;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.download-bottom-video button:hover, .download-warmup-song button:hover{
  width:250%;
  background-color: white;
   box-shadow: 0px 5px 5px #0078e7;
  color: #91CCC2;
  transition:.3s;
  transform : scale(1.3);
}
.download-bottom-video button:active, .download-warmup-song button:active {
 
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s

}
.download-bottom-video button:focus{
  outline: none;
}
#scale-a a:hover{
  transform: scale(1.5);
}
.text img{
  width: 350px;
 
}
.myTopBtn {
  /* make the icon on top on the span */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* make #id on the bottom */
  justify-content: center;
  position: absolute;
  /* bottom: 120px; */
  right: 290px;
  z-index: 500;
  border: none;
  outline: none;
  background-color: #1d1c18;
  color: white;
  cursor: pointer;
  padding: 0px 18px 2px 16px;
width: -moz-fit-content ;
width: fit-content ;
  border-radius: 10px;
}
.w3-display-topleft {
  margin-left: 12px;
 position: fixed;
}
@media screen and (max-width: 600px) {
  .w3-display-topleft {
   display: none;
  }
}
#reminder {
  background-color: #fcb900;
  color: #222;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
img:hover{
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
  
  /* object-fit: cover; */
}

.related-resources{
  height: auto; padding-top: 50px; margin-top: 70px;
}