

@media screen and (min-width: 769px){

}
*, :after, :before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}
@media(prefers-reduced-motion:reduce) {
  html {
      scroll-behavior: auto
  }

  *,:after,:before {
      -webkit-animation-duration: .01ms!important;
      animation-duration: .01ms!important;
      -webkit-animation-iteration-count: 1!important;
      animation-iteration-count: 1!important;
      scroll-behavior: auto!important;
      transition-duration: .01ms!important
  }
}

@media only screen and (max-width: 720px) {
  #main, #home, #about {
    /* margin-right: 0; */
    padding: auto;
    margin: 40px 0;
    /* margin-top: 50px; */
  }
  
    #main{
      padding-top:0;
      margin-top: 0;
    }
  #home{
    display:none;
  }
  #about{
    padding-top:15px;
  }
}

@media only screen and (max-width: 1299px) and (min-width: 1180) {
  #main,
  .p-content,
  #home,
  .list-rules,
  .pr, .right-side {
    width: auto !important;
  }
}
@media only screen and (max-width: 1198px) and (min-width: 1173) {
  #main,
  .p-content,
  #home,
  .list-rules,
  .pr, h1, .right-side {
    width: auto;
  }
}
@media only screen and (max-width: 1174px) and (min-width: 1074px) {
  .right-side {
    width: auto;
  }
  #main,
  .p-content,
  #home,
  .list-rules,
  .pr,
  .download {
    width: auto;
    padding: auto;
  }
}
@media only screen and (max-width: 1073px) and (min-width: 1000px) {
  .right-side {
    display: none;
  }
  #main,
  .p-content,
  #home,
  .list-rules, h1 {
    width: auto;
  }
  .myTopBtn {
    left: 420px;
    width: fit-content;
  }
}
@media only screen and (max-width: 999px) and (min-width: 500px) {
  .right-side {
    display: none;
  }
  #main,
  .p-content,
  #home,
  .pr , h1{
    width: auto;
  }
  .list-rules {
    display: flex;
    /* flex-wrap: wrap; */
    flex-grow: -1;
    flex-direction: column;
    /* list-style: none; */
    margin-left: 0;
    padding-left: 5px;
  }
  .download-btn {
    justify-self: left;
    flex-direction: column;
    position: absolute;
    left: auto;
    margin-bottom: 40px;
  }
  #home {
    margin-top: 90px;
  }
  /* hide #smallNavbar on page scroll */
  .navbar {
    position: fixed;
    top: 0;
    width: auto;
    z-index: 999;
  }
  #smallNavbar {
    padding-left: 80px;
  }
}
/* add media screen on max width 800px */
@media only screen and (max-width: 500px) and (min-width: 400px) {
  .right-side {
    display: none;
  }
  .p-content,
  #home,
  .pr ,   h1, .video, .embed, .download{
    width: fit-content;
    margin: auto;
    padding: auto;


  }
  .list-rules {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* list-style: none; */
    margin-left: 5px;
    padding-left: 5px;
  }
  .download-btn, .download-video, .download-custom {
   
    flex-direction: column;
    left: 150px;
    width: auto;
    margin-top:5px;
  }
  #home {
    margin-top: 90px;
  }
  #smallNavbar {
    padding-left: 80px;
    /* hide div on scroll */
  }
  .myTopBtn {
    right: 0;
    
    left: 410px;
    width: fit-content;
  }
}
/* Worksheets small */

@media only screen and (max-width: 390px) {
  .previous {
    /* width: 150px; */
    margin-left: 25px;
    padding-bottom: 15px;
  }
  .embed {
    margin: 0;
  }
  #empty {
    display: none;
  }

  .p-content,
  #home,
  .list-rules,
  .pr,
  .download  {
    width: 380px;
  }
  .right-side {
    display: none;
  }

}
#line {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fffefc;
}

@media only screen and (max-width: 500px){
  .right-side, .fas.fa-tshirt {
    display: none;
  }

  .p-content,
  #home,
  .pr , h1, .embed, .video, .goodbye {
    width: 430px;
    margin: 0;
    padding: 0;
  }
  .list-rules {
    display: flex;
    /* flex-wrap: wrap; */
    flex-grow: -1;
    flex-direction: column;
    /* list-style: none; */
    margin-left: 0;
    padding-left: 5px;
  }
  .download-btn, .download-custom, .download-warmup-song, .download-video{
    justify-self: left;
    /* flex-direction: column; */
    position: absolute;
    left: 150px;
    margin-bottom: 40px;
  }
  #home {
    margin-top: 90px;
  }
  /* hide #smallNavbar on page scroll */
  .navbar {
    position: fixed;
    top: 0;
    width: auto;
    z-index: 999;
  }
  #smallNavbar {
    padding-left: 80px;
  }
  .download-2{
    justify-self: left;
    margin-left: 0;
  }
 #online-games{
  padding: 3px;
 
 }

h1.top-head{
  /* display: none; */
  right:5px;
  width: 20%;
  margin-top:3px;
  font-size: 1rem;
  height: fit-content;
}
img:hover{
  transform: scale(1);
  transition: 0.25s all ease-in-out;
  
  /* object-fit: cover; */
}
#liveworksheet1347389{
  width: 80%;

  /* height: 100%; */
  margin: 0;
  padding: 0;
}
}

 
  @media screen and (max-width: 720px) {
    .p-content{
      margin-top: 5px;
      margin-bottom: 0;
      padding-top: 0;
    }
  
}