#search {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 90px;
    -webkit-transition: width ease 0.2s, opacity ease 0.4s;
    -moz-transition: width ease 0.2s, opacity ease 0.4s;
    transition: width ease 0.2s, opacity ease 0.4s;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
    -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font: 13px "Helvetica Neue", Arial, sans-serif;
    padding: 4px 10px;
    border: none;
    background: transparent;
    margin-bottom: 0;
    outline: none;
    opacity: 0.7;
    color: #888;
  }
  #search:focus {
    width: 120px;
    opacity: 1.0; 
  }
  