<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">

<!-- add a frame around the page -->
<!-- tailwind border 10px -->

<div class="border-8 border-blue-500 p-4">

<!-- add an image  and center the div in the middle of the page-->
<div class="flex flex-col items-center text-center">
    <!-- <div class="m-auto  snap-center"> -->
        <!-- resize the image with tailwind and center it-->
    
    
        <img class="w-1/2 bg-center mr-7" src="/Red-Coming-Soon-Stamp.svg" alt="Coming Soon">
        <!-- <img src="/Red-Coming-Soon-Stamp.svg" alt="Coming Soon"> -->
      <!-- </div> -->
</div>
  <!-- add a paragraph -->
  <div class="flex flex-col items-center text-center">
    <p class="text-xl">We are working hard on something amazing!</p>
    <p>Sign up below to stay updated.</p>

    <!-- add a form -->
    <form class="m-3 w-2/3">
      <input class="block w-full p-2" type="email" placeholder="Your Email Address">
      <input class="block w-full p-2 bg-blue-500 text-white" type="submit" value="Get notifications">
    </form>
    <!-- add a button with tailwind css says go to home -->
    <a href="/index.html" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Go to Home page</a>
  </div>
   <!-- add my footer -->
    <div class="flex flex-col items-center text-center">
        <p>© 2019 - 2020</p>
        <p> <a href="/index.html">ESLclup</a></p>
    </div>
</div>
